@import "../../../../../css/imports.sass"

.pagination-company
    display: flex
    justify-content: space-between
    width: 100%
    margin: 0 25%
    a
        color: $orange

        &:hover
            text-decoration: underline
            color: $darkOrange