@import "../../../../../css/imports.sass"

.result-company
    padding-right: 0
    padding-left: $large-space

    @include e('row')
        display: flex
        flex-wrap: wrap
        margin: 0
        
        @include e('text')
            display: flex
            flex-direction: column
            justify-content: space-between

            @include e('first')
                font-weight: $bold

        @include m('car')
            padding-top: $large-space

