@import "../../../../../css/imports.sass"

.result-company
    padding-right: 0
    padding-left: 0
    margin-top: $large-space
    
    @media (min-width: 768px)
        padding-left: $large-space
        margin-top: 0

    @include e('row')
        display: flex
        flex-wrap: wrap
        margin: 0
        
        @include e('text')
            display: flex
            flex-direction: column
            justify-content: space-between
            padding-bottom: $large-space

            @media (min-width: 768px)
                padding-bottom: 0

            @include e('first')
                font-weight: $bold

        @include m('car')
            padding-top: $large-space

