@import './settings/settings.sass'

@mixin btn()
    width: 128px
    height: 32px
    line-height: 16px
    background-color: $orange
    outline: 0 none !important
    cursor: pointer
    border: 0
    color: $white
    border-radius: 2px
    &:hover
        background-color: $darkOrange
    &:focus
        box-shadow: none

@mixin link()
    background-color: transparent
    outline: 0 none !important
    cursor: pointer
    border: 0
    color: $orange

    &:hover
        text-decoration: underline
        color: $darkOrange

@mixin select()
    position: relative
    width: 100%
    padding: $normal-space
    border-radius: 3px
    border: 1px solid  $grey
    font-size: $small-size
    background-color: transparent
    color: $darkGrey
    text-align: left
    cursor: pointer


    &:focus
        outline: none !important
        border-color: $orange
        box-shadow: 0 0 3px 1px $orange

    &::after
        position: absolute
        transform: translateY(-50%)
        top: 50%
        right: 8px
        content: ""
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-top: 5px solid $grey
        border-bottom: 0
        
    &.up::after
        border-bottom: 5px solid $grey
        border-top: 0


@mixin options()
    display: none
    position: absolute
    margin: 3px 0 $normal-space
    color: $darkGrey
    text-align: left
    background-color: $white
    border: 1px solid rgba(0,0,0,.15)
    border-radius: 3px
    width: 100%
    z-index: 1000

    &.show
        display: block
    
@mixin optionItem()
    display: block
    width: 100%
    padding: $normal-space
    font-size: $small-size
    clear: both
    color: $darkGrey
    text-align: inherit
    white-space: nowrap
    background-color: transparent
    border: 0
    border-bottom: 1px solid $grey
    cursor: pointer

    &:last-child
        border-bottom: 0

    &:hover
        background-color: $orange
        color: $white
