@import './settings/settings.sass'
@import './utils/utils.sass'


body,
html
	margin: 0
	padding: 0
	font-weight: normal
	width: 100%
	height: 100%
    font-family: $font-regular
    font-size: $normal-size
    color: $black
    background-color: $white

img
	border: 0

*,
*:before,
*:after
	box-sizing: border-box

input,
select,
button
	-webkit-appearance: none

ul
	margin: 0
	padding: 0

ol,
ul
	list-style: none

a:link,
a:active,
a:visited,
button:link,
button:active,
button:visited
	color: $white
	border: none

a:focus,
button:focus
	outline: 0 none

a:hover,
button:hover
	text-decoration: none

table
	border-collapse: collapse
	border-spacing: 0

h1,
h2,
h3,
h4,
h5,
h6
	font-size: 100%
	font-weight: normal
